name: "Feature Test"
on:
  push:
    branches:
      - feature/**


jobs:
 feature-test:
   name: "Feature Test"
   uses: "SFDO-Community/standard-workflows/.github/workflows/feature.yml@main"
   secrets:
    dev-hub-auth-url: "${{ secrets.DEV_HUB_AUTH_URL }}"
  #  with:
  #   cumulusci-version: '3.93.0'
  #   sfdx-version: '7.209.6'
